.loader {
	background-image: url('../../images/salad.svg');
	background-repeat: no-repeat;
	background-size: 60px;
	background-position: 50% 58%;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $primary_XL;
	transition: all .8s linear;
	z-index: 50; 	

	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		width: 100px;
		text-align: center;


	.circle {
		width: 20px;
		height: 20px;
		background-color: $primary;
		border-radius: 100%;
		display: inline-block;
		animation: spinner 1.4s infinite ease-in-out both;
	}

 	.circle1 {
		animation-delay: -0.32s;
	}

	.circle2 {
		animation-delay: -0.16s;
	}




	}
}


@keyframes spinner {

	0%, 80%, 100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1.0);
	}
}